body {
	background: #35A9DB;
	font-family: arial;
	text-align: center;
}
h1, h2 {
	color: #fff;

}
.kotak1{
	background: #32C1CD;
	padding: 20px;
	float: left;
	margin: 50px;
	width: 150px;
	height: 150px;
}
.kotak2{
	background: #32C1CD;
	padding: 20px;
	float: left;
	margin: 50px;
	width: 150px;
	height: 150px;
 	transform: skew(20deg);
	-ms-transform: skew(20deg);
 	-webkit-transform: skew(20deg);
}
.kotak3{
	background: #32C1CD;
	padding: 20px;
	float: left;
	margin: 50px;
	width: 150px;
	height: 150px;
 	transform: skew(30deg,20deg);
	-ms-transform: skew(30deg,20deg);
	-webkit-transform: skew(30deg,20deg);
}
.kotak4{
	background: #32C1CD;
	padding: 20px;
	float: left;
	margin: 50px;
	width: 150px;
	height: 150px;
 	transform: skewY(20deg);
	-ms-transform: skewY(20deg);
 	-webkit-transform: skewY(20deg);
}
.kotak5{
	background: #32C1CD;
	padding: 20px;
	float: left;
	margin: 50px;
	width: 150px;
	height: 150px;
	transform: skewX(20deg);
	-ms-transform: skewX(20deg);
 	-webkit-transform: skewX(20deg);
}